<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"  
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhegnrui.flyBlog.dao.articleHandle.IArticleHandle">
<!--设置IArticleHandle类和数据库中表的字段一一对应-->
    <resultMap id="BaseResultMap" type="com.zhengrui.flyBlog.model.body.Article">
        <id column="ARTICLE_ID" property="articleId" jdbcType="VARCHAR" />
        <result column="ARTICLE_TITLE" property="title" jdbcType="VARCHAR" />
        <result column="ARTICLE_AUTHOR" property="author" jdbcType="VARCHAR" />
        <result column="ARTICLE_LANGUAGE" property="language" jdbcType="VARCHAR" />
        <result column="ARTICLE_CONTENT" property="content" jdbcType="VARCHAR" />
        <result column="DATE" property="date" jdbcType="VARCHAR" />
    </resultMap>
    <!-- 返回单项语言分类中的所有项 -->
    <select id="selectTitleByLang" parameterType="String" resultMap="BaseResultMap">
        SELECT * FROM FLYBLOG_ARTICLE WHERE ARTICLE_LANGUAGE = #{language}
    </select>
    <!--根据文章标题返回文章内容  -->
    <select id="selectContentByTitle" resultMap="BaseResultMap">
        SELECT * FROM  FLYBLOG_ARTICLE WHERE ARTICLE_TITLE = #{title}
    </select>
    <!--返回某品类的第一篇文章内容  -->
    <select id="getFirstTitleBylang" resultMap="BaseResultMap">
        SELECT * FROM  FLYBLOG_ARTICLE WHERE ARTICLE_LANGUAGE = #{language} limit 1
    </select> 
    <!-- 使用limit进行分页 -->
   <!--  <select id="listUserByPage" resultMap="BaseResultMap">
         select * from user limit #{0},#{1}
    </select> -->
    <!--使用PageHelper进行分页  -->
    <select id="listUserByPage" resultMap="BaseResultMap">
         select * from user
    </select>
    <!-- 插入文章 -->
    <insert id="addArticle" parameterType="com.zhengrui.flyBlog.model.body.Article">
    	insert into FLYBLOG_ARTICLE(ARTICLE_ID,ARTICLE_TITLE,ARTICLE_AUTHOR,ARTICLE_LANGUAGE,ARTICLE_CONTENT,DATE)
    		values(#{articleId},#{title},#{author},#{language},#{content},#{date})
    </insert>
    <!-- 删除文章 -->
    <delete id="deleteArticle" parameterType="String">
        delete from FLYBLOG_ARTICLE where ARTICLE_TITLE=#{title}
    </delete>
    <!-- 修改文章 -->
    <update id="updateArticle" parameterType="com.zhengrui.flyBlog.model.body.Article">
        update FLYBLOG_ARTICLE set ARTICLE_TITLE=#{title}，ARTICLE_AUTHOR=#{author}，
        		ARTICLE_LANGUAGE＝#{language}，ARTICLE_CONTENT＝#{content}，DATE＝#{date}
        		where ARTICLE_ID=#{articleId}
    </update>
</mapper>